

<div class="clearfix mt-5"></div>
<div class="row">
  <div *ngIf="myForm != undefined" class="col-md-12">
    <form [formGroup]="myForm" (submit)="onSubmit()">
     <div class="card-header">
            Name: <input  type="text" class="form-control" formControlName="username">

        </div>



        <div *ngFor="let question of questions">
            {{question.title}}

            <div formArrayName="quest">
                <input type="text" formControlName="question.id">
            </div>

        </div>
        <div class="clearfix mt-2"></div>

        <button type="submit" class="btn btn-xs btn-primary">Save</button>


      </form>
    </div>


  </div>
